<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
	<title>Registration</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link th:href="@{/css/core.css}" rel="stylesheet" />
</head>
<body>

	<h4><p th:text="Registration..." /></h4>

	<form th:action="@{/registration}" method="POST" th:object="${registration}">
		<table>
			<tr>
				<td><span th:text="#{name}"></span></td>
			</tr>
			<td>
				<input type="text" id="name" name="name">
			</td>
			<tr>
				<td colspan="2">
					<input type="submit" th:value="#{save.changes}">
				</td>
			</tr>
			<tr>
				<td>
					<h1 class="alert alert-warning" id="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></h1>
				</td>
			</tr>
		</table>
	</form>

</body>
</html>